.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header a {
    color: #dadada;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

.header img{
    margin: 0;
    vertical-align: middle;
}