[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
Django = "*"
django-configurations = "*"
gunicorn = "*"
newrelic = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
Markdown = "*"
django-filter = "*"
ipdb = "*"
ipython = "*"
mkdocs = "*"
factory-boy = ">=3.2.0"
coverage = "*"
pytest = "*"
pytest-sugar = "*"
django-storages = "*"
boto3 = "*"
click = "*"
pillow = "*"
django-cors-headers = "*"
django-autoslug = "*"
graphene-django = "*"
graphene-graphiql-explorer = "*"
django-graphql-auth = "*"
django-graphql-jwt = "*"

[dev-packages]
rope = "*"
black = "*"
flake8 = "*"
isort = "*"
coreapi = "*"
Pygments = "*"
mypy = "*"
django-stubs = "*"
pre-commit = "*"
coveralls = "*"
pytest-factoryboy = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
