[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
Django = "*"
django-configurations = "*"
gunicorn = "*"
newrelic = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
ipdb = "*"
ipython = "*"
mkdocs = "*"
flake8 = "*"
mock = "*"
factory-boy = "*"
django-nose = "*"
nose-progressive = "*"
coverage = "*"
pytest = "*"
pytest-sugar = "*"
pytest-django = "*"
django-storages = "*"
boto3 = "*"
click = "*"
pillow = "*"
drf-yasg = "*"
isort = "*"
stripe = "*"
pytest-factoryboy = "*"
squareup = "*"

[dev-packages]
rope = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
