{% extends "base_email.html" %}
{% block content %}
{% with protocol|add:"://"|add:domain|add:"/"|add:path|add:"/"|add:token as url %}
<h1>Hello {{ user.first_name }}!</h1>

<p>You recently requested a password reset.</p>
<p>To reset your password, please click below:</p>
{% with text="Reset Password" %}
{% include "components/button.html" %}
{% endwith %}

<p>or goto</p>
<p style="word-break: break-all;">{{url}}</p>
<p>in your browser.</p>

<p>Thanks,</p>
<p>The UOB Theatre Team</p>
{% endwith %}
{% endblock %}
