<table class="full-width" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="list-item {% if inline %}list-item-inline{% endif %}">
            {% if title %}
                <span class="list-item-title">
                    {% if titleIcon %}
                        <svg class="icon" viewBox="0 0 512 512">
                            <path d="{{ titleIcon }}"/>
                        </svg>
                    {% endif %}
                    {{ title }}
                </span>
            {% endif %}
            
            {% if message %}
                <span class="list-item-message">
                    {% if messageIcon %}
                        <svg class="icon" viewBox="0 0 512 512">
                            <path d="{{ messageIcon }}"/>
                        </svg>
                    {% endif %}
                    {% if htmlSafe %}
                    {{ message|safe }}
                    {% else %}
                    {{ message }}
                    {% endif %}
                </span>
            {% endif %}
        </td>
    </tr>
</table>